Django
django-cors-headers
django-debug-toolbar
django-filter
django-rest-swagger
django-storages
djangorestframework
djangorestframework-gis
gunicorn
dj-database-url
psycopg2-binary
whitenoise
asgiref